{%extends "registration/base.html"%} {% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img class='phone'
       
        width="400px" alt="Image"/>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
      <div class="panel panel-default" id='reg'>

        <div class="panel-heading">

          <p>Sign up to see photos and videos from different people.</p>
        </div>
        <div class="panel-body">
          <form method="POST" class='text-center'action="/accounts/register/">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            <button type="submit" class="btn btn-primary btn-sm" value="Sign Up">sign up</button>
          </form>
        </div>
        <div class="panel-footer">
          <small class='text-muted'>
            have an account?<a class='ml-4' href="/accounts/login">&nbsp;&nbsp;Login</a>
          </small>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}